@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  scroll-behavior: smooth;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }


  /* page reload */

  /* .loader_animate {
    animation: loader 0.8s linear infinite;
  }
  
  @keyframes loader {
    0% {
      visibility: hidden;
    }
    50% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
  } */
  


  .loader_animate {
    animation: loader 1.1s linear infinite; /* Adjust duration as needed */
    display: block; /* Ensures consistent rendering */
    width: 6rem; /* Matches your w-24 Tailwind class */
    height: auto;
  }
  
  @keyframes loader {
    0% {
      opacity: 0;
       /* Optional: adds a subtle effect */
    }
    50% {
      opacity: 1;
       /* Optional: grows to full size */
    }
    100% {
      opacity: 0;
       /* Optional: back to small size */
    }
  }
  


/* hero section content animation */

.hero_section_content{
  transform: translateY(200px);
  opacity: 0;
}

.hero_animation{
  transform: translateY(0px) !important;
  opacity: 1 !important;
}



  /* owl caraousel for testimonal */

  .owl-carousel .owl-stage{
    margin: 10px 0px 30px 0px;
  }

  .owl-theme .owl-nav{
    display: none !important;
  }

  .tesitmonal_container .owl-carousel .owl-dots{
    margin-top: 25px;
  }

  .owl-theme .owl-dots .active span{
    background-color: #f5ae40 !important;
  }